/*Fonts*/

@font-face {
    font-family: 'print_clearlyregular';
    src: url('princ___-webfont.eot');
    src: url('princ___-webfont.eot?#iefix') format('embedded-opentype'),
         url('princ___-webfont.woff') format('woff'),
         url('princ___-webfont.ttf') format('truetype'),
         url('princ___-webfont.svg#print_clearlyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opificioregular';
    src: url('thinfont-thin-webfont.eot');
    src: url('thinfont-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('thinfont-thin-webfont.woff') format('woff'),
         url('thinfont-thin-webfont.ttf') format('truetype'),
         url('thinfont-thin-webfont.svg#opificioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opificioregular';
    src: url('la-chata-normal-webfont.eot');
    src: url('la-chata-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('la-chata-normal-webfont.woff') format('woff'),
         url('la-chata-normal-webfont.ttf') format('truetype'),
         url('la-chata-normal-webfont.svg#opificioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'opificioregular';
    src: url('opificio-webfont.eot');
    src: url('opificio-webfont.eot?#iefix') format('embedded-opentype'),
         url('opificio-webfont.woff') format('woff'),
         url('opificio-webfont.ttf') format('truetype'),
         url('opificio-webfont.svg#opificioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'majoramregular';
    src: url('majoram-webfont.eot');
    src: url('majoram-webfont.eot?#iefix') format('embedded-opentype'),
         url('majoram-webfont.woff') format('woff'),
         url('majoram-webfont.ttf') format('truetype'),
         url('majoram-webfont.svg#majoramregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*blocs principales*/
body{
	background:#ffffff;
	margin:0 auto;
	font: 1em "opificioregular","Luxi sans","Lucida Grande",Lucida,"Lucida Sans Unicode",sans-serif;
	font-weight:normal;
}
.page{	
	box-shadow: none;
	border:none;
	max-width: 1200px;
	min-width: 900px;
	width:auto;
	padding: 0;
	margin:0 auto;
	position:relative;
}
#header{
	height:170px
}

.container{margin-top:4em;}
.content { 
width:37%;
float:right;
  font-size: 80%;
}

#extra1{width:14%;float:left;}
#extra2{
	width:48%;
	float:left; 
	clear:none;
	text-align:center;
	padding-top:0
	}

#footer{padding-top:1em;background:#ffffff; text-align:center}

/*header*/

.hornav{
	background-color: transparent;
	border: none;
	padding-left: 0.5em;}

.accueil {
    left: 28px;
    position: absolute;
    top: 50px;
}
	
.accueil a:hover{
	background-color:#7F7F7F;
	opacity:0.6;
	behavior: url(/PIE.htc); 	
	
	}
.accueil .h1 {display:none}

/*contenu principale*/

.chapo{padding-right:10%;color:#000000}

/*extra*/

#extra2 .spip_logos{
	float:none;
	position:relative;
	border-radius: 12px 12px 12px 12px;
	behavior: url(/PIE.htc); 	
	
	}
	
.documents_album_cdc img:active{
	opacity: 0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */	
	background-color:transparent;
	visibility: visible;
	}	

.logo{padding-left:2em}


.documents_portfolio a{background:transparent url(images/search_10.png) no-repeat bottom right}
/*
 * Menus
 */


#nav{
	/*float:right;*/
	padding-right:0.4em;

    }
    
    
.hornav .menu {
    float:right;
}


.hornav .menu-items {
    border: 0 none;
    position: absolute;
    left: 55%;
    top: 1.7em;
    float:none;
    width:auto;
}

.hornav .menu-items .item {
	padding:0 0.8em 0 0;
}

.hornav ul li{
	display:inline;
	margin: 0 0.2em;
	}
	
.hornav ul li.accueil{
	position:absolute;
	left:0;
	top:0;
	
	}
.hornav .item a{
	font-family: 'opificioregular','arial';
	font-size:1.2em; 
	/*color: #bdc815; */
	color:#983924;
	font-weight:bold;
	padding:0

	}
	
.hornav .on  a{color:#4d4d4d}
.hornav .item a:hover,.hornav .item a:active{
	color:#4d4d4d;
	text-decoration:none;
	background:none;
	}
	
.hornav .menuder ul li a {color:#919191}	

/*defintions générales*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: 'opificioregular','arial';
}

.cartouche .info-publi {
    text-align: right;
}

abbr[title], acronym[title] {
    border-bottom: none;
	font-size:80%;
}

p{
	font-size:1.2em;
	font-weight:normal;
	text-align: justify;
	}
	
.logo{width:400px}

.spip_logos {margin: 0;}

.copyright{text-align:right}
   


.liste-items .item:hover {background-color:transparent;}

#documents_portfolio{
	width:98%;    margin: 0 auto;
    text-align: center;}



span.sep {
    display: inline;
}

/*Listes*/

.sites .liste-items .item{
   font-size:1.2em
}

.liste-items {
    border-top: none;
}

h2.articles_recents{
	border-bottom: 1px dotted;
	font-size: 2.5em;
	}

/* Portfolio*/

#documents_portfolio .spip_logos{
	border-radius: 20px;
	position:relative;
	border:none;
	/*box-shadow: 1px 1px 2px 2px #4d4d4d;*/
	margin:0.5em;
	 behavior: url(/PIE.htc); 	}

.art_rub li {float:left;margin-right:0.5em}

/*Mediabox*/

#cboxTitle { color: #983924; font-weight: 500;font-size:105%}

#cboxSlideshow {color: #000000;}

#cboxOverlay {
    background: none repeat scroll 0 0 #FFFFFF;
}

/*Forms*/
.formulaire_menu_lang,#hierarchie{display:none}

a {color:#983924;}

a:hover{color:#983924;}


.container #outils {
    background-color: transparent

}
