/*Fonts*/

@font-face {
    font-family: 'print_clearlyregular';
    src: url('princ___-webfont.eot');
    src: url('princ___-webfont.eot?#iefix') format('embedded-opentype'),
         url('princ___-webfont.woff') format('woff'),
         url('princ___-webfont.ttf') format('truetype'),
         url('princ___-webfont.svg#print_clearlyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thinfont-thinregular';
    src: url('thinfont-thin-webfont.eot');
    src: url('thinfont-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('thinfont-thin-webfont.woff') format('woff'),
         url('thinfont-thin-webfont.ttf') format('truetype'),
         url('thinfont-thin-webfont.svg#thinfont-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*blocs principales*/
body{
	background:#ffffff;
	margin:0 auto;
	font: 1em "print_clearlyregular","Luxi sans","Lucida Grande",Lucida,"Lucida Sans Unicode",sans-serif;
	font-weight:normal;
}
.page{	
	/*background:url(images/background_se_p.png)no-repeat;
	background-size:100%;*/
	box-shadow: none;
	border:none;
	max-width: 1200px;
	min-width: 710px;
	width:auto;
	padding: 0;
	margin:0 auto;
}
#header{
	height:170px
}

.container{margin-top:0;}
.content { 
width:37%;
float:right;

}

#extra1{width:14%;float:left;}
#extra2{
	width:48%;
	float:left; 
	clear:none;
text-align:center;
	}

#footer{padding-top:1em;background:#ffffff; text-align:center}

/*header*/

.hornav{
	background-color: transparent;
	border: none;
	padding-left: 0.5em;}

	
.accueil {
 	left: 28px;
    position: absolute;
    top: 50px;
   }
.accueil a:hover{
	background-color:#7F7F7F;
	opacity:0.6;
	behavior: url(/PIE.htc); 	
	
	}
.accueil .h1 {display:none}

/*contenu principale*/

.chapo{padding-right:10%}

/*extra*/

#extra2 .spip_logos{float:none}

/*menus*/
#nav{
	float:right;
	padding-right:0.4em;
    width: 35%;
    }


.hornav ul{
	 /*-moz-transform:rotate(4.5deg);
	 -o-transform:rotate(4.5deg);
	 -webkit-transform:rotate(4.5deg);
	 -ms-transform:rotate(4.5deg);
	 filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.1);*/
	 }

.hornav ul li{
	display:inline;
	margin: 0 0.2em;
	}

.hornav .item a{
	font-family: 'thinfont-thinregular','arial';
	font-size:1.2em; 
	/*color: #bdc815; */
	color:#983924;
	font-weight:bold;
	text-shadow:1px 1px #7f7f7f;
	behavior: url(/PIE.htc); 	
	}
	
.hornav .on  a{color:#4d4d4d}
.hornav .item a:hover,.hornav .item a:active{
	color:#4d4d4d;
	text-decoration:none;
	background:none;
	}

/*defintions générales*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: 'thinfont-thinregular','arial';
}



p{
	font-size:1.2em;
	font-weight:normal;
	}
	
.logo{width:400px}

.spip_logos {margin: 0;}

.copyright{text-align:right}
   


.liste-items .item:hover {background-color:transparent;}

#documents_portfolio{width:98%}

span.sep {
    display: inline;
}

/* Portfolio*/

#documents_portfolio .spip_logos{
	border-radius: 20px;
	border:none;
	/*box-shadow: 1px 1px 2px 2px #4d4d4d;*/
	margin:0.5em;
	 behavior: url(/PIE.htc); 	}



/*Mediabox*/

#cboxTitle { color: #983924;}

#cboxSlideshow {color: #000000;}

/*Forms*/
.formulaire_menu_lang,#hierarchie{display:none}

a {color:#983924;}

a:hover{color:#983924;}
